.reviewsContainer {
    .profilePic {
        display: flex;
gap: 10px;
flex-wrap: wrap;
@media (max-width:499px) {
            width: 80%;   
}
        .reviewProfilePic {
            height: 70px;
            width: 70px;
            border: 6px solid #EC6F00;
            border-radius: 50%;

            @media (max-width:499px) {
                height: 50px;
            width: 50px;
            }

            img {
                height: 100%;
                width: 100%;
                border-radius: 50%;
                object-fit: cover;
            }
        }
        .name_location {
            display: flex;
            flex-direction: column;
            justify-content: center;
            @media (max-width:499px) {
               
            }
            h1 {
                font-family: 'Cabin';
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                line-height: 34px;
                color: #EC6F00;
                margin-block-start: unset;
                margin-block-end: unset;
                @media (max-width:499px) {
                    font-size: 12px;
                    line-height: 17px;
                }
            }
    
            h2 {
                font-family: 'Cabin';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                color: #3C3C3C;
                margin-block-start: unset;
                margin-block-end: unset;
                @media (max-width:499px) {
                    font-size: 12px;
                }
            }
        }
    }

  

    .reviewDate {
        margin-left: auto;
        @media (max-width:499px) {
            width: 20%;   
}
        h2 {

            font-family: 'Cabin';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 34px;
            text-align: right;
            color: #3C3C3C;
            @media (max-width:499px) {
                font-size: 12px;
            }
        }
    }
}

.message {
    p {
        font-family: 'Cabin';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #3C3C3C;
        margin-block-end: unset;
        @media (max-width:499px) {
            font-size: 12px;
        }
    }
}

.ratings {
    h1 {
        font-family: 'Cabin';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 20px;
        color: #3C3C3C;
        @media (max-width:499px) {
            font-size: 12px;
        }
    }

    h2 {
        font-family: 'Cabin';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        text-align: right;
        color: #E87100;
        @media (max-width:499px) {
            font-size: 12px;
        }
    }
}