.custom_button{
    height: 32px;
  display: flex;
  gap: 16px;
  justify-content: space-between;
  align-items: center;
  background: #ec6f00;
  border-radius: 16px;
  font-family: "Cabin";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  padding: 0px 8px 0px 17px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
}